<nav class="navbar">
  <div class="menu">
    <ul class="nav-links ml-auto">
      <li><a href="/">Home</a></li>
      <li class="login">
        Login
        <ul class="dropdown">
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="sign-up">SignUp</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
      <li routerLink="/user-profile">Profile</li>
      <li>
        <ng-container *ngIf="user$ | async as user">
          <div class="user">
            <img [src]="user.profileImage ?? '/assets/images/profileImage.placeholder.png'">
            <span >{{user.displayName}}</span>
          </div>
        </ng-container>
      </li>
    </ul>
  </div>


</nav>


<router-outlet></router-outlet>





