* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: #69d2e7;
  border-radius: 14px;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;;
}

.menu li:hover {
  background-color: #4c9e9e;
  border-radius: 5px;
  transition: 0.3s ease;
}

.menu li {
  padding: 5px 14px;
}

.login {
  position: relative;
}

.dropdown {
  background-color: #69d2e7;;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 30px;
}

.dropdown li + li {
  margin-top: 10px;
}

.dropdown li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}

.dropdown li:hover {
  background-color: #4c9e9e;
}

.login:hover .dropdown {
  display: block;
}

button {
  font-size: 16px;
  background-color: #69d2e7;
  border: none;
  float: right;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 8px;

}






