<nav class="navbar">
  <ul class="nav-links ml-auto">
    <div class="menu">
      <li><a href="/">Home</a></li>
      <li class="login">
        Login
        <ul class="dropdown">
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="sign-up">SignUp</a></li>
          <li><a (click)="logout()">Logout</a></li>
        </ul>
      </li>
      <li routerLink="/user-profile">Profile</li>
      <li>
        <ng-container *ngIf="user$ | async as user">
          <button>
            <img [src]="user.profileImage ?? '/assets/images/profileImage.placeholder.png'">
            <span style="justify-content: center">{{user.displayName}}</span>
          </button>
        </ng-container>
      </li>

    </div>

  </ul>
</nav>


<router-outlet></router-outlet>





